<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hekd.kotlinapp">
    <!--百度语音识别-->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:hardwareAccelerated="false"
        android:allowBackup="true"
        android:icon="@mipmap/icon_rose"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GrammarActivity"></activity>
        <activity android:name=".ui.activity.PracticeDraw1"/>
        <activity android:name=".ui.activity.PracticeDraw2"/>
        <activity android:name=".ui.activity.PracticeDraw3"/>
        <activity android:name=".ui.activity.PracticeDraw4"/>
        <activity android:name=".ui.activity.PracticeDraw5"/>
        <activity android:name=".ui.activity.PracticeDraw6"/>
        <activity android:name=".ui.activity.PracticeDraw7"/>
        <!--百度语音识别前-->
        <activity android:name=".ai.VoiceRecognitionActivity"/>
        <service android:name="com.baidu.speech.VoiceRecognitionService" android:exported="false" />
        <meta-data android:name="com.baidu.speech.APP_ID"
            android:value="10480919" />
        <meta-data
            android:name="com.baidu.speech.API_KEY"
            android:value="H10umRiqLaBGTroFaGTIFEvX" />
        <meta-data
            android:name="com.baidu.speech.SECRET_KEY"
            android:value="4aXGfVFkuHN0GfY65RPtr8zHGGhq7NVo" />
        <!--百度语音识别后-->
    </application>

</manifest>